/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom property */
:root {
  --accent-color: #800000;  /* maroon */
  --border: 2px solid var(--accent-color);
}

/* Default styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 80%;
  margin: auto;
  border: var(--border);
}

a:hover, a:focus {
  font-style: italic;
  color: var(--accent-color);
}

h1, h2, h3, p, ul {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

ul {
  margin-left: 2em;
}

h1 { font-size: 150%; }
h2 { font-size: 130%; color: var(--accent-color); }
h3 { font-size: 105%; }

/* Header */
header {
  border-bottom: var(--border);
  background: linear-gradient(
    30deg,
    #800000 0%,
    white 30%,
    white 65%,
    #800000 100%
  );
}

header img {
  float: left;
  margin: 0.75em 1em;
}

header h2 {
  font-size: 175%;
  padding-bottom: 0; /* remove extra space */
}

header h3 {
  font-size: 130%;
  font-style: italic;
  padding-bottom: 1em;
}

/* Main content */
main {
  clear: left;
  padding: 0 1em 1em; /* left, right, bottom */
}

main h1 {
  border-top: var(--border);
  border-bottom: var(--border);
}

blockquote {
  font-style: italic;
  padding: 1em; /* indent effect */
}

main img {
  border: 4px double var(--accent-color);
  border-radius: 10px;
  vertical-align: middle;
  margin: 0.5em 0;
}

/* Footer */
footer {
  background-color: var(--accent-color);
}

footer p {
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Pill box */
.pill {
  display: inline-block;
  padding: .25em .75em;
  border: var(--border);
  border-radius: 9999px;
  background: #fff;
}

/* Enlarged number for 75th Year */
.large {
  font-size: 125%;
}
